
.typesDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 5px;
}

.typesDiv button{
  outline: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(251, 251, 251);
  margin-bottom: 20px;
}
.typeBox {
  border-radius: 20px;
  border: 1px solid #e2e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.735);
  flex: 1;
}

.h3type{
  font-size:16px;
  color:rgb(186, 181, 181);
  margin-top: 10px;
}

.typeBox:hover{
  background-color: rgb(234, 237, 239);
  cursor: pointer;
}

.mainMenu{
  width: 100vw;
}

@media (max-width: 760px) {
  .typesDiv {
    align-items: center;
    flex-direction: row;
    
    margin: 20px;
   
  }
}