
.typesDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.typeBox {
  border-radius: 20px;
  border: 1px solid #e2e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.735);
  flex: 1;
}

.h3type{
  font-size:16px;
  color:rgb(186, 181, 181);
  margin-top: 10px;
}

.typeBox:hover{
  background-color: rgb(234, 237, 239);
  cursor: pointer;
}

.mainMenu{
  width: 100vw;
}

@media (max-width: 760px) {
  .typesDiv {
    align-items: center;
    flex-direction: row;
    
    margin: 20px;
   
  }
}