.comtainer{
    height: 100vh;
    background-image: url('../Components/bg.png');
    background-position: 50px center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: #638F8F;
    margin-left: 100px;

}

.text{
    width: 50%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.text h1{
    font-size: 80px;
}

.text h3{
    opacity: 0.8;
}

.imgContainer img{
    width: 550px;
}


@media (max-width:1210px) {
    .content{
        justify-content: center;
        align-items: center;
    }
    .text h1{
        font-size: 60px;
    }
    .imgContainer img{
        width: 450px;
    }
}

@media (max-width:600px) {
    .content{
        margin-left: 50px;
    }
    .text h1{
        font-size: 40px;
    }
    .imgContainer img{
        width: 350px;
    }
}

@media (max-width:376px) {
    .imgContainer{
        display: none;
    }
}

@media (max-width:255px) {
    .text h3{
        font-size:12px;
    }
}