@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Noto+Kufi+Arabic:wght@800&family=Poppins:wght@300;500;700&family=Roboto:wght@100;300;400;500&display=swap');
.mainMenu {
  background-color: #F8F8F8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins';
  font-size: 15px;
  margin-left: 70px;
}
.menuContainer 
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px 20px 0;
  justify-content: center;
}
.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card
{
  margin: 10px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px;
}

.info {
  margin-top: 20px;
  margin-right: 5px;
}

.imageItem {
  border-radius: 10px;
  height: 120px;
  padding: 5px 1px;
  margin-left: 10px;
  object-fit: fill;
  box-sizing: border-box;
  background-color: #F3F4F6;
  /* max-width: 150px;
  min-height: 150px; */
  width: 100px;
  height: 100px;
}
.textP{
  color:rgb(159, 156, 156);
  font-weight: 400;
  display: -webkit-box;
  margin-bottom: 10px;
  margin: 10px 0 ;

}
.price{
 font-weight:900;
}

.ex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Extras{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.exBtn{
  border-radius: 10px;
  background-color: rgba(211, 211, 197, 0.3);
  opacity: rgb(255, 255, 255,0.3);
  border: none;
  color:rgb(50, 49, 49) ;
  padding: 10px;
}
.exBtn:hover
{
  background-color: rgb(99, 143, 143);
  color: white;
  cursor: pointer;
}
.exBtnSelected {
  background-color: black;
  color: white;
}
.toCart
{
  border-radius: 10px;
  background-color: rgb(99, 143, 143);
  border: none;
  color:white;
  margin-top: auto ;
  margin-bottom: 10px;
  padding: 7px 20px;
}
.toCart:hover{
  cursor: pointer;
}
@media (max-width: 900px) {
  .card {
    margin: 10px;
    width: 40%;
  } 
}
@media (max-width: 768px) {
  .menuContainer {
    margin: 0 10px 20px 10px;
  }

  .card {
    margin: 10px;
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .imageItem {
    height: auto;
    max-width:80px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .toCart {
    margin-top: 10px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

  }
}