*{
    margin: 0;
    color: black;
}
.sidebar{
    height: 100vh;
    padding: 20px 20px;
    background-color: #ffffff;
    /*  */
}
.sidebar2{
    height: 100vh;
    padding: 20px 20px;
    background-color: #ffffff;
}
.icon{
    height: 30px;
    width: 30px;
}
.main{
    text-align: start;

}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;

}
li{
     margin-top: 16px;
     text-align: start;
     font-size: 22px;
     display: flex;
}
li:last-child {
    /* put it in the bottom of the ul */
    margin-top: auto;
}
h2{
    font-size: 22px;
    margin: 5px 0 0 10px;
}
.iconS{
    height: 30px;
    width: 30px;
    /* align-self: auto; */
    margin-top: 250px;
}
.sett{
    font-size: 22px;
    margin: 250px 0 0 10px;
}