*{
    margin: 0;
}
.sidebar {
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.8);
    color: white;
    position: fixed;
    transition: all 1s;
    padding: 20px ;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    height: 100%;
}
.sidebar2{
    color: black;
    height: 100%;
    background-color: #ffffff;
    position:fixed;
    transition: all 1s;
    padding: 20px;
}

.main{
    text-align: start;
    margin :0px ;
}

ul{
    list-style: none;
    display: flex ;
    flex-direction: column;
}

li{
    margin-top: 16px;
    text-align: start;
    font-size: 22px;
    display: flex;
    transition: all 0.5s;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
}

li:last-child {
    margin-top: auto;
}
h2{
    font-size: 22px;
    margin: 5px 0 0 10px;
}
.iconS{
    height: 30px;
    width: 30px;
}
.icon:hover {
    color: #E2BC97;
}

