.body * {
    box-sizing: border-box;
}
.body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body h1 {
    font-weight: bold;
    margin: 0;
}

.body p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

.body span {
    font-size: 12px;
}

.body a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    height: 75%;
    display: flex;
}

.formContainer form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formContainer input {
    background: #eee;
    border: none;
    padding: 20px 30px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}

.signBtn {
    border-radius: 20px;
    border: 1px solid #638F8F;
    background: #638F90;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
}

.body button:active {
    transform: scale(.95);
}

.body button:focus {
    outline: none;
}


.ghost {
    background: transparent;
    border-color: #fff;
}
.formContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.signInContainer {
    left: 0;
    width: 50%;
    z-index: 2;
}

.signUpContainer {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #638F8F;
    background: linear-gradient(to right, #638F8F, #638F90) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlayPanel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlayRight {
    right: 0;
    transform: translateY(0);
}

.overlayLeft {
    transform: translateY(-20%);
}

.container.rightPanelActive .signInContainer {
    transform: translateY(100%);
}

.container.rightPanelActive .overlayContainer {
    transform: translateX(-100%);
}

.container.rightPanelActive .signUpContainer {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.rightPanelActive .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.rightPanelActive .overlayLeft {
    transform: translateY(0);
}

/* Same effect for right */
.container.rightPanelActive .overlayRight {
    transform: translateY(20%);
}
/* make it responsive */
@media screen and (max-width: 1750px) {
    .container {
        padding: 100px 0;
        height: 100%;
        margin: 10px;
    }
    
    .formContainer form {
        background: #fff;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding:  150px 15px ;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .formContainer input {
        background: #eee;
        border: none;
        padding: 10px 30px;
        margin: 8px 0;
        
        border-radius: 5px;
    }
}

@media screen and (min-width: 770px) {

    .formContainer form {
        background: #fff;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
