
.typesDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 20px 30 10px;
}

.typeBox {
  border-radius: 20px;
  border: 1px solid #e2e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.735);
  flex: 1;
  margin: 0 30px;
}

.h3type{
  font-size:16px;
  color:rgb(186, 181, 181);
  margin-top: 10px;
}

.typeBox:hover{
  background-color: rgb(234, 237, 239);
  cursor: pointer;
}

@media (max-width: 760px) {
  .typesDiv {
    align-items: center;
    flex-direction: row;
    width:100%;
    margin: auto;
   
  }
}